### Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

### 1.Determine the number of elements in fruits.

In [1]:
import pandas as pd
import numpy as np
from pydataset import data

In [2]:
my_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [3]:
my_series = pd.Series(my_list)

In [4]:
my_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [5]:
my_series.size

17

### 2.Output only the index from fruits.

In [6]:
index = my_series.index

In [7]:
list(index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### 3.Output only the values from fruits.

In [8]:
valuesonly = my_series.values

In [9]:
list(valuesonly)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

### 4.Confirm the data type of the values in fruits.

In [10]:
datatype = valuesonly.dtype

In [11]:
datatype

dtype('O')

### 5.Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [12]:
my_series.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [13]:
my_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [14]:
my_series.sample(2)

0         kiwi
3    pineapple
dtype: object

### 6.Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [15]:
my_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### 7.Run the code necessary to produce only the unique string values from fruits.

In [16]:
uniquestring = my_series.unique()

In [17]:
list(uniquestring)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

### 8.Determine how many times each unique string value occurs in fruits.

In [18]:
fruitcount = my_series.value_counts()

In [19]:
fruitcount

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

### 9.Determine the string value that occurs most frequently in fruits.

In [20]:
frequent = my_series.value_counts().index[0]

In [21]:
frequent

'kiwi'

### 10.Determine the string value that occurs least frequently in fruits.

In [22]:
least = my_series.value_counts().index[-1]

In [23]:
least

'papaya'

# or

In [24]:
least = my_series.value_counts()
all_least = least[least == least.min()]

In [25]:
all_least

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# OR BETTER WAY

In [26]:
order_fruits = fruitcount.nsmallest(n=1, keep = 'all')

In [27]:
order_fruits

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# Exercise Pt. II

### 1.Capitalize all the string values in fruits.
###

In [28]:
my_series.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

### 2.Count the letter "a" in all the string values (use string vectorization).
###

In [29]:
my_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

### 3.Output the number of vowels in each and every string value.
###

In [30]:
my_series.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

 
### 4.Write the code to get the longest string value from fruits.
###

In [33]:
longfruit = sorted(my_series, key = len)

longfruit[-1]

'honeycrisp apple'

### 5.Write the code to get the string values with 5 or more letters in the name.
###

In [41]:
count_of_letters = my_series.str.count('[abcdefghijklmnopqrstuvwxyz]')
long_names = my_series[count_of_letters >= 5]
long_names

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

### 6.Find the fruit(s) containing the letter "o" two or more times.
###

In [45]:
count_of_letters = my_series.str.count('o')
o_names = my_series[count_of_letters >= 2]
o_names

6         tomato
15    gooseberry
dtype: object

### 7.Write the code to get only the string values containing the substring "berry".
###

In [50]:
berry_names = my_series[my_series.str.endswith('berry')]
berry_names

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

### 8.Write the code to get only the string values containing the substring "apple".
###

In [51]:
apple_names = my_series[my_series.str.contains('apple')]
apple_names

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

 
### 9.Which string value contains the most vowels?

In [64]:
apple_names = my_series[my_series.str.count('[aeiou]')]

most_vowels = sorted(apple_names, key = len)

most_vowels[-1]

'honeycrisp apple'