### Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

### 1.Determine the number of elements in fruits.

In [1]:
import pandas as pd
import numpy as np
from pydataset import data

In [2]:
my_list = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [3]:
my_series = pd.Series(my_list)

In [4]:
my_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [5]:
my_series.size

17

### 2.Output only the index from fruits.

In [6]:
index = my_series.index

In [7]:
list(index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### 3.Output only the values from fruits.

In [8]:
valuesonly = my_series.values

In [9]:
list(valuesonly)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

### 4.Confirm the data type of the values in fruits.

In [10]:
datatype = valuesonly.dtype

In [11]:
datatype

dtype('O')

### 5.Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [12]:
my_series.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [13]:
my_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [14]:
my_series.sample(2)

10     kiwi
1     mango
dtype: object

### 6.Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [15]:
my_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

### 7.Run the code necessary to produce only the unique string values from fruits.

In [16]:
uniquestring = my_series.unique()

In [17]:
list(uniquestring)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

### 8.Determine how many times each unique string value occurs in fruits.

In [18]:
fruitcount = my_series.value_counts()

In [19]:
fruitcount

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

### 9.Determine the string value that occurs most frequently in fruits.

In [20]:
frequent = my_series.value_counts().index[0]

In [21]:
frequent

'kiwi'

### 10.Determine the string value that occurs least frequently in fruits.

In [22]:
least = my_series.value_counts().index[-1]

In [23]:
least

'papaya'

# or

In [24]:
least = my_series.value_counts()
all_least = least[least == least.min()]

In [25]:
all_least

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64